<% provide(:title, 'All users') %>
<div class = "row">
<aside class="col-md-3">
  <section class="user_info">
      <%= render 'shared/user_info' %>
  </section>
</aside>
<div class="col-md-8">
<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
    ) %>
  </div>
  <div>
    Tags
    <%= f.select(
      :with_tag_name,
      @filterrific.select_options[:with_tag_name],
      { include_blank: '- Any -' }
    ) %>
  </div>
  <div>
    User
    <%= f.select(
      :with_user,
      @filterrific.select_options[:with_user],
      { include_blank: '- Any -' }
    ) %>
  </div>
  <div>
    Directive Type
    <%= f.select(
      :with_directive_type,
      @filterrific.select_options[:with_directive_type],
      { include_blank: '- Any -' }
    ) %>
  </div>
    
    <%= f.submit "submit" %>
    
<% end %>

<%= render('shared/feed') %>
</div>
</div>