<div class="media">
  
  <div class="media-body">
    <h4 class="media-heading">
      <%= conversation.subject %> <br>
      <small><b>From: </b><%= conversation.originator.name %></small><br>
      <small><b>Date: </b><%= display_date(conversation.messages.last.created_at.in_time_zone('Eastern Time (US & Canada)')) %></small>
      <!--.strftime("%-d %B %Y, %H:%M:%S")-->
    </h4>
    <%= truncate conversation.messages.last.body, length: 145 %>
    <%= link_to "View", conversation_path(conversation) %>
  </div>
</div>