<% if user_signed_in? && !@user.nil? %>
    <% provide(:title, @user.position) %>
    <% @user = current_user %>
    <div class="row">
      <aside class="col-md-3">
        <section class="user_info">
            <%= render 'shared/user_info' %>
        </section>
      </aside>
      <div class="col-md-9">
        <%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
            <div>
              Search
              <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
              <%= f.text_field(
                      :search_query,
                  ) %>
            </div>
            <%= f.submit "submit" %>

        <% end %>
        <% if @pd_feed.any? %>
          <h3>Personal Directives (Crisis Notes) (<%= @pd_feed.count %>)</h3>
          <%= link_to "new personal directives", new_personal_directive_path, :target => '_blank' if current_user[:type] == "Delegate"%>
          <ol class="directives">
            <%= render "pd_feed" %>
          </ol>
        <% end %>
      </div>
    </div>
<% end %>

