<h1><%= current_user.name %></h1>
<span><%= current_user.position %></span>
<span><%= current_user.committee %></span>
<span><%= link_to "my mailbox", mailbox_inbox_path %></span>
<span><%= link_to "personal directives", personal_directives_path %></span>
<span><%= link_to "committee directives", resolutions_path %></span>
<span><%= link_to "crisis updates", crisis_updates_path %></span>
<span><%= link_to "delegate list", users_path %></span>
<span><%= link_to "crisis notes", notes_path if current_user[:type] == "Crisis"%></span>
<span><%= link_to "filter", 'directives#index' if current_user[:type] == "Crisis" %></span>